In [6]:
import pandas as pd

In [10]:
data=pd.read_csv("C:/Users/Admin/Downloads/Heart.csv")

In [11]:
data

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [12]:
df=data.iloc[:,1:]
df

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [13]:
dt=df.dtypes
dt

Age            int64
Sex            int64
ChestPain     object
RestBP         int64
Chol           int64
Fbs            int64
RestECG        int64
MaxHR          int64
ExAng          int64
Oldpeak      float64
Slope          int64
Ca           float64
Thal          object
AHD           object
dtype: object

In [14]:
mean=df['Age'].mean()
mean

54.43894389438944

In [15]:
mean1=df.mean()
mean1

C:\Users\Admin\AppData\Local\Temp\ipykernel_9140\545133139.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mean1=df.mean()

Age         54.438944
Sex          0.679868
RestBP     131.689769
Chol       246.693069
Fbs          0.148515
RestECG      0.990099
MaxHR      149.607261
ExAng        0.326733
Oldpeak      1.039604
Slope        1.600660
Ca           0.672241
dtype: float64

In [17]:
miss=df.isnull()
miss

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,False,False,False,False,False,False,False,False,False,False,False,False,False,False
299,False,False,False,False,False,False,False,False,False,False,False,False,False,False
300,False,False,False,False,False,False,False,False,False,False,False,False,False,False
301,False,False,False,False,False,False,False,False,False,False,False,False,False,False
302,False,False,False,False,False,False,False,False,False,False,False,True,False,False

In [18]:
miss1=df['Age'].isnull()
miss1

0      False
1      False
2      False
3      False
4      False
       ...
298    False
299    False
300    False
301    False
302    False
Name: Age, Length: 303, dtype: bool

In [19]:
missing=pd.isnull(df).sum()
missing

Age          0
Sex          0
ChestPain    0
RestBP       0
Chol         0
Fbs          0
RestECG      0
MaxHR        0
ExAng        0
Oldpeak      0
Slope        0
Ca           4
Thal         2
AHD          0
dtype: int64

In [20]:
shape=df.shape
shape

(303, 14)

In [21]:
shape1=df['Age'].shape
shape1

(303,)

In [23]:
zero=df[df==0]
zero.count()

Age            0
Sex           97
ChestPain      0
RestBP         0
Chol           0
Fbs          258
RestECG      151
MaxHR          0
ExAng        204
Oldpeak       99
Slope          0
Ca           176
Thal           0
AHD            0
dtype: int64

In [25]:
data1=df[['Age','Sex','ChestPain','RestBP','Chol']]
data1

     Age  Sex     ChestPain  RestBP  Chol
0     63    1       typical     145   233
1     67    1  asymptomatic     160   286
2     67    1  asymptomatic     120   229
3     37    1    nonanginal     130   250
4     41    0    nontypical     130   204
..   ...  ...           ...     ...   ...
298   45    1       typical     110   264
299   68    1  asymptomatic     144   193
300   57    1  asymptomatic     130   131
301   57    0    nontypical     130   236
302   38    1    nonanginal     138   175

[303 rows x 5 columns]

In [27]:
div75=df.sample(frac=0.75)
div25=df.drop(div75.index)
div75

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
9,53,1,asymptomatic,140,203,1,2,155,1,3.1,3,0.0,reversable,Yes
12,56,1,nonanginal,130,256,1,2,142,1,0.6,2,1.0,fixed,Yes
14,52,1,nonanginal,172,199,1,0,162,0,0.5,1,0.0,reversable,No
15,57,1,nonanginal,150,168,0,0,174,0,1.6,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,57,1,nontypical,154,232,0,2,164,0,0.0,1,1.0,normal,Yes
288,56,1,nontypical,130,221,0,2,163,0,0.0,1,0.0,reversable,No
290,67,1,nonanginal,152,212,0,2,150,0,0.8,2,0.0,reversable,Yes
299,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
301,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes

In [28]:
div25

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
9,53,1,asymptomatic,140,203,1,2,155,1,3.1,3,0.0,reversable,Yes
12,56,1,nonanginal,130,256,1,2,142,1,0.6,2,1.0,fixed,Yes
14,52,1,nonanginal,172,199,1,0,162,0,0.5,1,0.0,reversable,No
15,57,1,nonanginal,150,168,0,0,174,0,1.6,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,57,1,nontypical,154,232,0,2,164,0,0.0,1,1.0,normal,Yes
288,56,1,nontypical,130,221,0,2,163,0,0.0,1,0.0,reversable,No
290,67,1,nonanginal,152,212,0,2,150,0,0.8,2,0.0,reversable,Yes
299,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
301,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
x=df.iloc[:,:5]
y=df.iloc[:,13]
X_train,X_test,Y_train,Y_test=train_test_split(x,y,train_size=0.75,test_size=0.25)

In [31]:
X_train

     Age  Sex     ChestPain  RestBP  Chol
12    56    1    nonanginal     130   256
247   47    1  asymptomatic     110   275
280   57    1  asymptomatic     110   335
301   57    0    nontypical     130   236
252   64    1  asymptomatic     128   263
..   ...  ...           ...     ...   ...
116   58    1    nonanginal     140   211
101   34    1       typical     118   182
160   46    1    nontypical     101   197
188   54    1    nontypical     192   283
287   58    1    nontypical     125   220

[227 rows x 5 columns]

In [32]:
Y_train

12     Yes
247    Yes
280    Yes
301    Yes
252     No
      ...
116     No
101     No
160     No
188    Yes
287     No
Name: AHD, Length: 227, dtype: object

In [33]:
X_test

     Age  Sex     ChestPain  RestBP  Chol
175   57    1  asymptomatic     152   274
276   66    0    nonanginal     146   278
207   50    1  asymptomatic     144   200
217   46    0  asymptomatic     138   243
106   59    1  asymptomatic     140   177
..   ...  ...           ...     ...   ...
140   59    1    nontypical     140   221
213   66    0  asymptomatic     178   228
46    51    1    nonanginal     110   175
249   62    1    nontypical     128   208
137   62    1    nontypical     120   281

[76 rows x 5 columns]

In [34]:
Y_test

175    Yes
276     No
207    Yes
217     No
106    Yes
      ...
140     No
213    Yes
46      No
249     No
137    Yes
Name: AHD, Length: 76, dtype: object

In [35]:
dict={'yes':0,'No':1}
update=data['AHD'].map(dict)
data['AHD']=update
data

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,1.0
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,NaN
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,NaN
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,1.0
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,NaN
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,NaN
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,NaN
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,NaN
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,1.0